<section ng-controller="ExampleController">

	<div data-ng-show="!authentication.user">
		<h2>Hello, guest!</h2>
		<h4>Please sign in to Chat or Create / Edit / Delete Articles!</h4>

		<div class="row">
			<div class="col-md-4 well well-sm">

				<span><a href="/signup">Sign up</a></span>
				<hr>
				<span><a href="/signin">Sign in</a></span>

			</div>
			<div class="col-md-8"></div>
		</div>
	</div>
	<div data-ng-show="authentication.user">
		<h1>Hello <span data-ng-bind="authentication.user.fullName"></span>!</h1>
		<small>(logged in from <span data-ng-bind="authentication.user.provider"></span>)</small>
	</div>
	<br>
	<div data-ng-show="authentication.user">
		<a href="/signout">Sign out</a>
	</div>
	<div class="row">
		<div class="col-md-4 well well-sm">

			<ul>
				<li><a href="/#!/chat">Chat</a></li>
				<li><a href="/#!/articles">List Articles</a></li>
				<li><a href="/#!/articles/create">Create Article</a></li>
			</ul>
		</div>
	</div>


</section>